#footer {
  width: 100%;
  height: 315px;
  border-top: 1px solid #ccc;
}
#footer .footer-up {
  width: 920px;
  height: 124px;
  margin: 0 auto;
  padding: 20px 0 10px 80px;
}
#footer .footer-up .f-list-1 {
  width: 138px;
  height: 96.7px;
  margin-right: 70px;
  float: left;
}
#footer .footer-up .f-list-1 span {
  display: block;
  width: 138px;
  height: 35.67px;
  line-height: 35.67px;
  margin: 0 auto;
  font-size: 16px;
  /* margin-bottom: 10px; */
  color: #000;
}
#footer .footer-up .f-list-1 li {
  width: 140px;
  height: 20.3px;
  float: left;
}
#footer .footer-up .f-list-1 li a {
  width: 60px;
  height: 15.3px;
  font-size: 12px;
  color: #999;
  margin: 0 10px 5px 0;
}
#footer .footer-down {
  width: 100%;
  height: 96px;
  background: #F2F2F5;
  padding: 20px 0 45px 0;
}
#footer .footer-down li {
  margin-bottom: 10px;
  text-align: center;
}
#footer .footer-down li span {
  margin-right: 15px;
  font-size: 12px;
  color: #999;
}
#footer .footer-down li a {
  margin-right: 15px;
  font-size: 12px;
  color: #999;
}
#footer .footer-down li a .W_icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(../images/icon.png);
  background-repeat: no-repeat;
  background-position: -50px -300px;
  vertical-align: text-top;
}
#footer .footer-down li a .icon_netsecurity {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(../images/icon.png);
  background-repeat: no-repeat;
  background-position: -100px -300px;
  vertical-align: text-top;
}
