body {
    width: 100%;
    background: url(../images/bg.jpg);
    background-attachment: fixed;
}

#header {
    width: 100%;
    height: 60px;
    position: flex;
    top: 0;
    font-family: fang;
    background: whitesmoke;
}

.header {
    width: 1200px;
    height: 60px;
    margin: 0 auto;
}

.header-shouye {
    width: 300px;
    height: 60px;
    float: left;
}

.header-shouye h2 {
    line-height: 60px;
    font-size: 35px;
}

.header-nav {
    width: 300px;
    height: 60px;
    float: right;
}

.header-nav span {
    width: 90px;
    height: 60px;
    margin: 0 auto;
    display: inline-block;
    line-height: 60px;
}

.header-nav span a {
    font-size: 23px;
}

/* 留言板 */
#input {
    width: 100%;
    height: 400px;
}

.input {
    width: 1000px;
    height: 400px;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 15px;
    background: #fff;
}

.input-header {
    width: 900px;
    height: 100px;
    margin: 0 auto;
    font-family: fang;
    border-bottom: 1px solid#ccc;
}

.input-header h3,
.input-header h1 {
    width: 900px;
    height: 40px;
    margin: 0 auto;
    padding-top: 10px;
    text-align: center;
}

.input-name {
    width: 250px;
    height: 40px;
    margin: 10px 0 10px 49px;
    border-radius: 10px;
    border: 1px solid#ccc;
}

.input-name i {
    width: 37px;
    height: 37px;
    font-size: 15px;
    float: left;
    margin: 0 auto;
    /* text-align: center; */
    margin: 12px 0 0 5px;
}

.input-name input {
    width: 200px;
    height: 30px;
    margin-top: 4px;

}

.input-text {
    width: 900px;
    height: 150px;
    margin: 0 auto;
    border-radius: 10px;
    border: 1px solid#ccc;
}

.input-text textarea {
    width: 880px;
    height: 130px;
    margin: 10px;
    font-size: 14px;
}

.submit {
    width: 100px;
    height: 40px;
    float: right;
    background: #67C23A;
    border-radius: 10px;
    font-family: fang;
    margin-top: 20px;
    margin-right: 49px;
}

.out {
    width: 1000px;
    margin: 0 auto;
    border-radius: 15px;
    /* padding: 20px 15px; */
    background-color: rgba(250, 246, 246, 0.61);

}

.out-body {
    padding-bottom: 10px;
    border-bottom: 1px solid#ccc;
}

.name,
.text,
.time {
    width: 900px;
    height: 15px;
    margin: 0, auto;
    padding: 10px 0 10px 20px;
}

.name {
    color: #01aaed;
}

.name span {
    color: #01aaed;
}

.time {
    color: rgb(104, 101, 101);
    font-size: 12px;
}

.time span {
    color: #07a704;
    margin-left: 15px;
    font-size: 12px;
}

.reply {
    width: 800px;
    height: 150px;
    border-radius: 10px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid#ccc;
    display: none;
}

.reply span {
    display: block;
    color: rgb(103, 194, 59);
    margin: 5px 0 0 5px;
}

#reply {
    width: 700px;
    height: 90px;
    margin: 5px 0 0 40px;

}

.reply-btn {
    display: block;
    font-size: 14px;
    border-radius: 5px;
    color: #fff;
    margin-left: 750px;
    background-color: #07a704;

}

.del {
    width: 40px;
    height: 20px;
    border-radius: 5px;
    display: block;
    margin-left: 840px;
    margin-top: -10px;
    background: #67C23A;
}